<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123866154648-24dlduvp2rl3uivgeh5npntgsp6cdcmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123866154648-24dlduvp2rl3uivgeh5npntgsp6cdcmf</string>
	<key>API_KEY</key>
	<string>AIzaSyAYxMVbbCF6R1xVKLOR_ZV8276NUaLjsic</string>
	<key>GCM_SENDER_ID</key>
	<string>123866154648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanishk.WhereAmI</string>
	<key>PROJECT_ID</key>
	<string>whereami-79d0f</string>
	<key>STORAGE_BUCKET</key>
	<string>whereami-79d0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123866154648:ios:9ce903d50231ec8683b2ed</string>
	<key>DATABASE_URL</key>
	<string>https://whereami-79d0f.firebaseio.com</string>
</dict>
</plist>